# definitive config file if present
gotadoflux.json
__debug__bin.json

# token cache if present
gotadoflux.token
__debug__bin.token

# binary file if generated
gotadoflux
gotapoflux.exe

#ignore file locks
*.lock

#ignore generated version
version.go